MASHREQ_EMAIL_NOTIFICATION/MASHREQ_EMAIL_NOTIFICATION_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/MASHREQ_EMAIL_NOTIFICATION/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/MASHREQ_EMAIL_NOTIFICATION/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="MASHREQ_EMAIL_NOTIFICATION">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element maxOccurs="1" minOccurs="1" name="eventId" type="xsd:string">

          	</xsd:element>
          	<xsd:element maxOccurs="1" minOccurs="1" name="from" type="xsd:string">

          	</xsd:element>
          	<xsd:element maxOccurs="1" minOccurs="1" name="to" type="xsd:string">
          	</xsd:element>
          	<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
          	</xsd:element>
          	<xsd:element maxOccurs="1" minOccurs="1" name="messageRequestDateTime" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="MASHREQ_EMAIL_NOTIFICATIONResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="eventId" type="xsd:string"/>
          	<xsd:element name="responseCode" type="xsd:string"/>
          	<xsd:element name="messageResponseDateTime" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>