MASHREQ_SMS_NOTIFICATION/SMSNotification_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SMSNotification/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SMSNotification/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="SMSNOTIFICATION">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="eventId" type="xsd:string" minOccurs="1"/>
          	<xsd:element name="from" minOccurs="1">
          		<xsd:simpleType>
          			<xsd:restriction base="xsd:string">


          				<xsd:length value="10"/>
          			</xsd:restriction>
          		</xsd:simpleType>
          	</xsd:element>
          	<xsd:element name="to" minOccurs="1">
          		<xsd:simpleType>
          			<xsd:restriction base="xsd:string">

          				<xsd:length value="10"/>
          			</xsd:restriction>
          		</xsd:simpleType>
          	</xsd:element>
          	<xsd:element name="alternateContactNumber" minOccurs="0" maxOccurs="unbounded">
          		<xsd:simpleType>
          			<xsd:restriction base="xsd:string">

          				<xsd:length value="10"/>
          			</xsd:restriction>
          		</xsd:simpleType>
          	</xsd:element>
          	<xsd:element name="message" type="xsd:string" minOccurs="1"/>
          	<xsd:element name="messageRequestDateTime" type="xsd:string" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SMSNOTIFICATIONResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="eventId" type="xsd:string"></xsd:element>
          	<xsd:element name="responseCode" type="xsd:string" />
          	<xsd:element name="messageResponseDateTime"
          		type="xsd:string">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>